// Only edit the *.styl file. The css generation is triggered on change.

marg=20px
heightWeek=50px
border=#CCC
gradient=linear-gradient(to bottom, #0088cc, #0044cc)
fontColor=#0088cc

body
  font-size: 14px
  line-height:1.428571429

h1,h2,h3
  margin:5px

.gradient
  background-image:gradient
  color: #fff

.dayBackground
  background-color: #b9def0

#timeline-month-view-main
  width: 80%
  height: 80%

#root
  margin-left:marg
  margin-top:marg

/*
#timeline-month-view-header, #timeline-month-view-days
  width:776px
*/

#timeline-month-view-header,.header
  width:768px
  border-radius: 3px
  border-top:1px solid #fff
  display:inline-block
  margin-bottom:0px
  background-image:gradient
  color:#fff
  padding:5px;
  height:20px;

.timeline-month-view-header-day
  text-align:center
  display:inline-block
  width:107px
//border-right: 1px solid border
//  width:14%


.timeline-month-view-week-day
  width:110px

#timeline-month-view-days
  color:fontColor
  width:776px
  border-left: 1px solid border
  border-right: 1px solid border
  display:inline-block
  margin-right:10px
  margin-top:-7px
//  width:100%

.timeline-month-view-weeks
  min-height: heightWeek
  width:100%
  display:block


.timeline-month-view-week-day
  display:inline-block;
  border-right:1px solid border
  border-bottom:1px solid border
  height:50px
  vertical-align:bottom
  overflow:visible
  text-align:right
  cursor:pointer


.dayText
  margin:10px
  margin-top:0
  width:90%
  height:90%
  background:none



.toolbar div
  display:inline-block
  width:32%

.toolbarLeft button
  font-weight:bold
  text-align:center

.toolbarMid
  font-weight:bold

.toolbarRight
  text-align:right

.selectClass
  background-image:gradient
  background-color:fontColor

.b
  background-color:blue

.g
  background-color:green

.r
  background-color:red

.borderBottom
  border-bottom: 1px solid border

.borderRight
  border-right: 1px solid border

.borderLeft
  border-left: 1px solid border

.borderRadius
  border-top-left-radius:4px
  border-top-right-radius:4px

.weekHeader>div
  padding:0

.weekHeader
  vertical-align: middle

.height
  height:50px

table.monthView
  border-collapse:collapse
  width:400px
  margin:10px
  margin-left:40px
  background-color:transparent
//table.monthView, .monthView td, .monthView th


.monthView th
  border:none
  text-align: center
  padding:5px
  font-size:14px

.monthView td
  //border:1px solid border
  padding:4px
  text-align:right
  position: relative
  overflow: visible

td.center
  text-align:center

.calDay button
  font-size: 12px

.tabMid
  color:fontColor
  font-size:18px

.blockX
  z-index:10000000
  border-radius:3px

.greenDay
  background-color:#468847
  color:#e5e5e5

.busy
  background-color: #5bc0de
  border-color: #46b8da
  color:#fff

.greenBusyDay
  background: #5bc0de
  border: 2px solid green
  color:#fff

.newRes
  background-color:#C09853
  cursor:pointer

.modal, .modal-dialog
  width:400px
  height:520px

.modal-content
  border:0

.modal
  position:fixed
  top:10%
  left:50%
  z-index:1050
  margin-left:-280px
  outline:none

.notCurrentMonth
  color:#e5e5e5

.monthBtns .btn
  font-size:18px
  color:#737373

.monthViewDiv
  position:fixed
  top:10%
  left:50%
  margin-left:-280px
  outline:none

.error
  color:red

.wrapper
  background-color:#f5f5f5
  width:500px
  border:1px solid #e3e3e3
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05)
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05)
  border-radius:3px

.box
  border:2px solid #468847
  -moz-border-radius-topright:5px
  -moz-border-radius-topleft:5px
  -webkit-border-top-right-radius:5px
  -webkit-border-top-left-radius:5px

.box h4
  background:#468847
  color:white
  padding:10px
  margin:0


.box p
  color:#333
  padding:3px
