<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en" ng-app="reservationApp">
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery-ui-1.9.2.js"></script>
    <script type="text/javascript" src="/javascripts/lib/angular_1.2.0-rc.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/date.js"></script>
    <script type="text/javascript" src="/javascripts/lib/ui-bootstrap-tpls-0.6.0.js"></script>
    <link rel="stylesheet" href="/stylesheets/lib/jquery-ui-1.9.2.css"/>
    <link rel="stylesheet" href="/stylesheets/lib/reset.css"/>
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap-combined.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>


    <!-- The App -->
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/directives.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/app.js"></script>
</head>

<body>
<div id="root-timeline" ng-controller="TimelineCtrl as timeline" style="width: 1053px;">
    <div class="timeline-content" ng-style="{height:'{{timelineData.length*60}}px'}">
        <div class="resource-header">
            <div class="resource-header-item" ng-repeat="resource in timelineData">
                <div class="resource-header-item-name">
                    {{resource.name}}
                </div>
            </div>
        </div>
        <div class="timeline-slide-container">
            <div class="timeline-header">
                <div class="timeline-header-months">
                    <div class="timeline-header-month"
                         ng-repeat="headerMonth in timeline.headerMonths"
                         ng-style="{width:'{{headerMonth.widthOfMonth}}px'}">
                        {{headerMonth.monthWithYear}}
                    </div>
                </div>
                <div class="timeline-header-days">
                    <div class="timeline-header-day"
                         ng-repeat="dayOfMonth in timeline.daysOfMonths">
                        {{dayOfMonth.day}}
                    </div>
                </div>
            </div>
            <div class="timeline-grid">
                <div class="timeline-grid-row" ng-repeat="resource in timelineData">
                    <div class="timeline-grid-row-cell"
                         ng-bind="dayOfMonth"
                         ng-repeat="dayOfMonth in timeline.daysOfMonths"
                         ng-class="{dayWeekend : dayOfMonth.isWeekend}"
                         reservation-slide-new>
                    </div>
                </div>
            </div>
            <!--BLOCKS: Reservations-->
            <div class="timeline-blocks">
                <div class="timeline-block-container" ng-repeat="resource in timelineData">
                    <div class="timeline-block"
                         ng-repeat="reservation in resource.reservations"
                         ng-style="{left:'{{timeline.daysBetween(timeline.startDate,reservation.start) * 21 + 3}}px',width:'{{timeline.daysBetween(reservation.start,reservation.end)*21-9}}px'}"
                         reservation-drag="{reservationId: '{{reservation._id}}',resourceId: '{{resource._id}}',diff: '{{timeline.daysBetween(reservation.start,reservation.end)}}'}"
                         reservation-resize="{reservationId : '{{reservation._id}}'}">
                        <div class="timeline-block-text">
                            {{reservation.name}}:{{timeline.daysBetween(reservation.start,reservation.end)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>

    <% include newReservationTemplate %>
</div>


<div id="demo" style="text-align:center;margin-top:100px;">
    <iframe src="//player.vimeo.com/video/75864409" width="500" height="313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/75864409">Reservation.js demo</a> from <a href="http://vimeo.com/user21436442">Naimdjon</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>
</body>
</html>