<!DOCTYPE html>
<html lang="en" ng-app="reservationApp">
<head>
    <title><%= title %></title>
    <!--<script data-main="javascripts/main" src="javascripts/lib/require.js"></script>-->
    <!--<script src="javascripts/main.js"></script>-->
    <script type="text/javascript" src="/javascripts/lib/angular_1.2.7.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/moment+langs.min.js"></script>
    <!--<link rel="stylesheet" href="/stylesheets/lib/reset.css"/>--> <!--fcks up the datepicker-->
    <script type="text/javascript" src="/javascripts/lib/ui-bootstrap-tpls-0.9.0.js"></script>
    <!--<link rel="stylesheet" href="/stylesheets/lib/bootstrap-combined.min.css"/>-->
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap-3.0.3.min.css"/>
    <link rel='stylesheet' href='/stylesheets/monthView.css'/>

    <!--App scripts-->
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/directives.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/app.js"></script>
    <title>Month-view</title>
</head>
<body>

<div ng-controller="MonthViewCtrl as monthView">
    <div class="toolbar" style="width:90%;margin-left:40px;margin-top:40px;">
        <div class="toolbarLeft">
            <button class="btn" ng-click="monthView.changeMonth(-1)"><</button>
            <button class="btn" ng-click="monthView.changeMonth(1)">></button>
            &#160;&#160;
            <span style="margin-top:2px;"><%=resourceName%></span>
        </div>
        <div class="toolbarMid tabMid center">{{monthView.currentMonth}}</div>
        <div class="toolbarRight">
            <button style="text-align:right" class="btn" ng-click="monthView()" disabled>month</button>
        </div>
    </div>
    <table class="monthView">
        <tr>
        <th class="center gradient"
             ng-repeat="dayOfWeek in monthView.daysOfWeek"
             ng-style="{borderRight:'{{$index!=6?none:1}}px'}">
            {{dayOfWeek.indexOf('none')!=0?dayOfWeek:''}}
        </th>
        </tr>
        <tr ng-repeat="week in monthView.datesOfMonths">
            <td class="calDay"
                ng-repeat="date in week"
                ng-click="monthView.newReservation()"
                ng-class="{busy : date.isBusy, newRes : hover}"
                title="{{date.res.name}}"
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false">
                {{date.label.indexOf('none')!=0?date.label:''}}
            </td>
        </tr>
    </table>
</div>

<% include newReservationTemplate %>
</body>
</html>