<!DOCTYPE html>
<html lang="en" ng-app="reservationApp">
<head>
    <title><%= title %></title>
    <!--<script data-main="javascripts/main" src="javascripts/lib/require.js"></script>-->
    <!--<script src="javascripts/main.js"></script>-->
    <script type="text/javascript" src="/javascripts/lib/angular_1.2.0-rc.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/moment+langs.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/ui-bootstrap-tpls-0.6.0.js"></script>
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap-combined.min.css"/>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/directives.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/app.js"></script>
    <link rel='stylesheet' href='/stylesheets/monthView.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <title>Month-view</title>
</head>
<body>

<div ng-controller="MonthViewCtrl as monthView">
    <div class="toolbar" style="width:90%;margin-left:40px;margin-top:40px;">
        <div class="toolbarLeft">
            <button class="btn" ng-click="monthView.changeMonth(-1)"><</button>
            <button class="btn" ng-click="monthView.changeMonth(1)">></button>
        </div>
        <div class="toolbarMid tabMid center">{{monthView.currentMonth}}</div>
        <div class="toolbarRight">
            <button style="text-align:right" class="btn" ng-click="monthView()" disabled>month</button>
        </div>
    </div>
    <table>
        <tr>
        <th class="center gradient"
             ng-repeat="dayOfWeek in monthView.daysOfWeek"
             ng-style="{borderRight:'{{$index!=6?none:1}}px'}">
            {{dayOfWeek.indexOf('none')!=0?dayOfWeek:''}}
        </th>
        </tr>

        <tr ng-repeat="week in monthView.datesOfMonths">
            <td class="calDay" ng-repeat="date in week"
                 ng-click="timeline.newReservation()">
                {{date.label.indexOf('none')!=0?date.label:''}}
                <div ng-if="date.blocks!=undefined">
                    <div alt="{{block.tooltip}}" class="blockX gradient"
                         ng-style="{width:'{{block.span*50}}px'}"
                         ng-repeat="block in date.blocks">
                        {{block.name}}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<br/>
<br/>
<br/>
</body>
</html>