<!DOCTYPE html>
<html lang="en" ng-app="reservationApp">
<head>
    <title><%= title %></title>
    <% include header %>
</head>
<body>

<div ng-controller="MonthViewCtrl as monthView">
    <div style="margin:2px;"><b><%=resourceName%></b></div>
    <table class="monthView">
        <!--navigering (forrige måned, neste måned)-->
        <tr class="monthBtns">
            <th>
                <button type="button" class="btn btn-default btn-sm pull-left" ng-click="monthView.changeMonth(-1)"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </th>
            <th colspan="5">
                <button type="button" class="btn btn-default btn-sm btn-block"><strong class="ng-binding">{{monthView.currentMonth}}</strong></button>
            </th>
            <th><button type="button" class="btn btn-default btn-sm pull-left" ng-click="monthView.changeMonth(1)"><i class="glyphicon glyphicon-chevron-right"></i></button></th>
        </tr>
        <!--Ukedager-->
        <tr>
            <th class="center"
                 ng-repeat="dayOfWeek in monthView.daysOfWeek"
                 ng-style="{borderRight:'{{$index!=6?none:1}}px'}">
                {{dayOfWeek.indexOf('none')!=0?dayOfWeek:''}}
            </th>
        </tr>

        <tr ng-repeat="week in monthView.weeks">
            <td class="calDay"
                title="{{date.booking.personId}}"
                ng-repeat="date in week.days"
                ng-class="{busy : date.isBusy, newRes : hover, notCurrentMonth : !date.isCurrentMonth}"
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false"
                ng-click="monthView.newReservation()">
                {{date.label}}
            </td>
        </tr>
    </table>
</div>

<% include newReservationTemplate %>
</body>
</html>