<div>
    <script type="text/ng-template" id="newReservationDialog">
        <div class="modal-header">
            <h3>Ny reservasjon</h3>
        </div>
        <div ng-if="newReservationError">
            <div class="error">
                {{newReservationError}}
            </div>
        </div>

        <div class="modal-body">
            <label for="name">Navn:</label>

            <br/>
            <input type="radio" name="to_be_cleaned" value="true">&#160; &#216;nsker &#229; bestille vask</input><br/>
            <input type="radio" name="to_be_cleaned" value="false">&#160; &#216;nsker &#229; vaske selv</input>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>