<div>
    <script type="text/ng-template" id="newReservationDialog">
        <div class="modal-header">
            <h3>Ny reservasjon</h3>
        </div>
        <div ng-if="newReservationError">
            <div class="error">
                {{newReservationError}}
            </div>
        </div>

        <div class="modal-body">
                    <label for="name">Navn:</label>
                    <input type="text" id="name" ng-model="newReservationForm.name" autofocus/>
                <br/>
                <br/>
                    <div style="display:inline-block; min-height:230px;">
                        <div class="well well-sm" ng-model="dt">
                            <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
                        </div>
                    </div>

                   <!-- <label for="from">Fra:</label>
                    <input type="text" id="from" ng-model="newReservationForm.from" autofocus/>


                    <label for="from">Til:</label>
                    <input type="text" id="from" ng-model="newReservationForm.from" autofocus/>-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>