<!DOCTYPE html>
<html lang="en" ng-app="reservationApp">
<head>
    <title><%= title %></title>
    <% include header %>

</head>
<body>
<% include loginInfo%>

<script>resourceId="<%=resourceId%>"</script>
<div ng-controller="MonthViewCtrl as monthView" class="monthViewDiv">
    <div style="margin:10px;margin-left:200px;"><b><%=resourceName%></b></div>
    <table class="monthView">
        <!--navigering (forrige måned, neste måned)-->
        <tr class="monthBtns">
            <th>
                <button type="button" class="btn btn-default btn-sm pull-left" ng-click="monthView.changeMonth(-1)"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </th>
            <th colspan="5">
                <button type="button" class="btn btn-default btn-sm btn-block"><strong class="ng-binding">{{monthView.currentMonth}}</strong></button>
            </th>
            <th><button type="button" class="btn btn-default btn-sm pull-left" ng-click="monthView.changeMonth(1)"><i class="glyphicon glyphicon-chevron-right"></i></button></th>
        </tr>
        <!--Ukedager-->
        <tr>
            <th class="center"
                 ng-repeat="dayOfWeek in monthView.daysOfWeek"
                 ng-style="{borderRight:'{{$index!=6?none:1}}px'}">
                {{dayOfWeek.indexOf('none')!=0?dayOfWeek:''}}
            </th>
        </tr>

        <tr ng-repeat="week in monthView.weeks">
            <td class="calDay"
                title="{{date.booking.email}}"
                ng-repeat="date in week.days"
                ng-class="{busy : date.isBusy, newRes : hover, notCurrentMonth : !date.isCurrentMonth}"
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false"
                ng-click="monthView.newBooking('<%=userEmail%>',date)">
                {{date.label}}
            </td>
        </tr>
    </table>
    <br/>
    <div class="btn-group">
            <button ng-repeat="month in monthView.months"
                    ng-click="monthView.changeMonth(month)"
                    type="button" class="btn btn-default">{{month}}</button>
            <!--<button type="button" class="btn btn-default btn-sm"><strong class="ng-binding">{{month}}</strong></button>-->
    </div>
</div>
<% include newReservationTemplate %>
</body>
</html>