<html lang="en" ng-app="reservationApp">
<head>
    <% include header %>
</head>
<body>
<div style="position:fixed;left:50%;top:20%;">
    <img src="/gfx/logo.png" alt="JPro"/> &#160;&#160;<b>bookingApp</b><br/>
    <a href="/auth/google">
        <img src="/gfx/sign-in-with-google.png" width="200px"/>
    </a>
</div>
</body>
</html>