body {
  font-size: 0.8em;
}
.gradient {
  background-image: linear-gradient(to bottom, #08c, #04c);
  color: #fff;
}
.dayBackground {
  background-color: #b9def0;
}
#timeline-month-view-main {
  width: 80%;
  height: 80%;
}
#root {
  margin-left: 20px;
  margin-top: 20px;
}
/*
#timeline-month-view-header, #timeline-month-view-days
  width:776px
*/
#timeline-month-view-header,
.header {
  width: 768px;
  border-radius: 3px;
  border-top: 1px solid #fff;
  display: inline-block;
  margin-bottom: 0px;
  background-image: linear-gradient(to bottom, #08c, #04c);
  color: #fff;
  padding: 5px;
  height: 20px;
}
.timeline-month-view-header-day {
  text-align: center;
  display: inline-block;
  width: 107px;
}
.timeline-month-view-week-day {
  width: 110px;
}
#timeline-month-view-days {
  color: #08c;
  width: 776px;
  border-left: 1px solid #428bca;
  border-right: 1px solid #428bca;
  display: inline-block;
  margin-right: 10px;
  margin-top: -7px;
}
.timeline-month-view-weeks {
  min-height: 50px;
  width: 100%;
  display: block;
}
.timeline-month-view-week-day {
  display: inline-block;
  border-right: 1px solid #428bca;
  border-bottom: 1px solid #428bca;
  height: 50px;
  vertical-align: bottom;
  overflow: visible;
  text-align: right;
  cursor: pointer;
}
.dayText {
  margin: 10px;
  margin-top: 0;
  width: 90%;
  height: 90%;
  background: none;
}
.toolbar div {
  display: inline-block;
  width: 32%;
}
.toolbarLeft button {
  font-weight: bold;
  text-align: center;
}
.toolbarMid {
  font-weight: bold;
}
.toolbarRight {
  text-align: right;
}
.selectClass {
  background-image: linear-gradient(to bottom, #08c, #04c);
  background-color: #08c;
}
.b {
  background-color: #00f;
}
.g {
  background-color: #008000;
}
.r {
  background-color: #f00;
}
.borderBottom {
  border-bottom: 1px solid #428bca;
}
.borderRight {
  border-right: 1px solid #428bca;
}
.borderLeft {
  border-left: 1px solid #428bca;
}
.borderRadius {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.weekHeader>div {
  padding: 0;
}
.weekHeader {
  vertical-align: middle;
}
.height {
  height: 50px;
}
table {
  border-collapse: collapse;
  width: 90%;
  margin: 10px;
  margin-left: 40px;
}
table,
td,
th {
  border: 1px solid #428bca;
}
th {
  color: #fff;
  text-align: center;
  padding: 5px;
}
td {
  padding: 20px;
  text-align: right;
  height: 40px;
  width: 50px;
  max-width: 50px;
  position: relative;
  overflow: visible;
}
.center {
  text-align: center;
}
.calDay {
  font-size: 18px;
  color: #428bca;
}
.tabMid {
  color: #08c;
  font-size: 18px;
}
.blockX {
  z-index: 10000000;
  border-radius: 3px;
}
